<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Swat.Properties.Settings.Your_DatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\visual studio\Your_Database.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Swat.Properties.Settings.epadConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\ashish malik\Documents\epad.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=admin@mss"
            providerName="System.Data.OleDb" />
        <add name="Swat.Properties.Settings.Your_DatabaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Your_Database.accdb"
            providerName="System.Data.OleDb" />
        <add name="Swat.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Swat.Properties.Settings.e_PadConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\e-Pad.accdb"
            providerName="System.Data.OleDb" />
        <add name="Swat.Properties.Settings.epadConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\ashish malik\source\repos\epad.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>